*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: linear-gradient(50deg, rgb(238, 238, 238),white);
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-wrap{
    width: 95%;
    display: flex;
    box-shadow:5px 10px 30px ;
    border-radius: 50px;
    overflow: hidden;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    padding: 36px 28px;
    background-color: rgb(32, 145, 243);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
aside p{
    margin-top: 10px;
    font-size: 12px;
    opacity:70%;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.logo img{
    width: 60px;
    clip-path: circle(21px at 50% 55%);
}
.form{
    padding: 40px 48px;
    font-family: Arial, Helvetica, sans-serif;
}
.form h2{
    color: rgb(1, 1, 186);
    margin-bottom: 20px;
}
.form p{
    opacity: 70%;
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin-bottom: 6px;
}
input[type="text"],input[type="password"]{
    width: 100%;
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid rgb(175, 174, 174);
    margin-bottom: 15px;
}
.row{
    display: flex;
    gap:30px;
}
.row label{
    opacity: 70%;
    font-size: 15px;
}
.button{
    margin-top: 20px;
    display: flex;
   justify-content: center;
}
button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(20, 20, 201);
    border: 0px;
    color: white;
}
@media(max-width:720px){
    .login-wrap{
        flex-direction: column;
    }
    aside{
        width: 100%;
        padding: 20px;
    }
    .form{
        padding:50px;
    }
}